@font-face {
  font-family: 'TitleFont';
  src: url('../fonts/Shoescenter.ttf');
}

.card {
  margin: 15px;
}

.background {
  background-image: url('../images/background.png');
  height: 100vh;
  width: 100vw;
  filter: blur(1px);
  opacity: 0.8;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* Modal Content */
.modal-content {
    background-color: rgba(254, 254, 254, 0.9);
    margin: auto;
    padding: 20px 20px 68px 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h1{
  font-family: 'TitleFont';
}

path {
  fill: transparent;
}

text {
  font-family: 'TitleFont';
  font-size: 84px;
  letter-spacing: -10px;
}

svg{
  padding-top: 23px;
}

.social_network {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 16px;
}

.social_network > img{
  width: 40px;
  height: 40px;
}

.parametre{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  right: 16px;
  top: 16px;
}

.parametre > img{
  width: 60px;
  height: 60px;
}

#player-choice{
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#bot-choice{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 50vh;
}

#bot-choice>img{
  height: 28vw;
  margin-top: 15vh;
}

.myBtn>img{
  width: 28vw;
}

.myBtn{
  border: none;
  background: none;
}

.myBtn:active{
  background-color: #2196F3;
}
.myBtn:focus{
  background-color: #2196F3;
}


#myModal{
  display: none;
  height: 100vh;
  position: absolute;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#button{
  border: none;
  width: 156px;
  height: 87px;
  border-radius: 11px;
  background-color: #2196F3;
  position: relative;
  font-size: 37px;
  color: white;
  filter: drop-shadow(5px 5px 10px black);
}

#button-background{
  width: 240px;
  height: 240px;
  background-color: rgba(96, 125, 139, 0.7);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

@media screen and (max-width: 640px) {
  #button{
    border: none;
    width: 37vw;
    height: 21vw;
    border-radius: 11px;
    background-color: #2196F3;
    position: relative;
    font-size: 9vw;
    color: white;
    filter: drop-shadow(5px 5px 10px black);
  }
  
  #button-background{
    width: 54vw;
    height: 54vw;
    background-color: rgba(96, 125, 139, 0.7);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
}

#winlose{
  font-size: 58px;
  font-family: "TitleFont";
}